{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/index.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [],
  "reporter": "reporter": [
    "text-summary",
    "html",
    "lcov"
  ],
  "check-coverage": true
}
